body{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(54, 130, 230);
    display: flex;
    color: white;
    justify-content: center;
}
main{
    margin-top: 3rem;
    margin-left: 2rem;
}
main img{
    height: 20rem;
}

@media (max-width: 530px){
    main div{
        height: 6rem;
        width: 6rem;
    }
    main img{
        height: 8rem;
        width: 8rem;
    }
    main h1{
        font-size: 20px;
    }
    main h4{
        font-size: 10px;
    }
    header h1{
        font-size: 20px;
    }
    header h2{
        font-size: 10px;
    }
}

#review{
    background-color: rgb(221, 221, 221);
    height: 25rem;
    margin: 2rem;
}
#review h1{
    text-align: center;
    border-bottom: 1px solid black;
}
#review label{
    font-size: 20px;
    margin-left: 15px;
}
#review input{
    width: 70%;
}
#review p{
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    width: 4rem;
}
#review p:hover{
    background-color: gray;
}
.btn{
    display: flex;
    justify-content: center;
}

.divComment{
    margin-left: 10px;
}

@media (max-width: 750px){
    #review input{
        width: 90%;
        margin-left: 15px;
    }
    #review label{
        margin-left: 15px;
    }
}